<main>
	<h2 class="page-heading">ようこそ Bookersへ！</h2>
	<section class="introduction">
		<p><span>Bookers </span>では、さまざまな書籍に関するあなたの意見や<br>
		印象を共有し交換することができます</p>

		<p><%= link_to "start", books_path %></p>
	</section>
</main>